.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;

  width: 100%;
  flex-wrap: wrap;
  gap: 10px 15px;
  padding: 40px 20px;
}
