@import "antd/dist/antd.css";

.container {
  height: 60px;
  width: 100%;
  background-color: #2b2b2b;
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.logo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 25px;
  color: #fff;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 600px) {
  .logo {
    font-size: 18px;
  }
}
@media (max-width: 330px) {
  .container {
    padding: 0px 10px;
  }
}
@media (max-width: 460px) {
  .container {
    flex-direction: column;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
