@import "antd/dist/antd.css";

.container {
  background-color: #e4e4af;
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  width: 100%;
  padding: 20px 50px;
  background-color: #454545;
  /* border-bottom: 1px solid #2b2b2b; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link {
  width: 30%;
}

.content {
  width: 100%;
  background-color: #e4e4af;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  color: #fff;
  margin: 0;
}

.place-holder {
  width: 600px;
  height: 400px;
}
